# development | production
NODE_ENV=development

PORT=3000

# Examples: all, ["error", "info", "log", "migration", "query", "schema", "warn"]
SYSTEM_LOG_INFO=all

# JWT Authentication Strategy
JWT_SECRET=
JWT_EXPIRES_IN=

# TypeORM config
TYPEORM_HOST=
TYPEORM_PORT=
TYPEORM_USERNAME=
TYPEORM_PASSWORD=
TYPEORM_DATABASE=

# Supabase config
TYPEORM_HOST=
TYPEORM_PORT=
TYPEORM_USERNAME=
TYPEORM_PASSWORD=
TYPEORM_DATABASE=

# Google OAuth2
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GOOGLE_CALLBACK_URL=

# Cloudinary
CLOUDINARY_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=

# Local Storage
STORAGE_TYPE=
LOCAL_STORAGE_PATH=
LIMIT_FILE_UPLOAD=
MAX_FILE_SIZE=

# Sentry
SENTRY_DSN=

# Discord bot
DISCORD_WEBHOOK=
DISCORD_BOT_NAME=
DISCORD_BOT_AVATAR_URL=

